@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(4,20,43);
  font-family: Arial, Helvetica, sans-serif;
}

.wellzone-section{
  margin: 30px;
}

#header{
  background: linear-gradient(to right,rgba(4,20,43, 0.5),rgba(0, 128, 53, 0.482),rgba(4,20,43, 0.364));
  padding: 50px;
  border-radius: 10px;
  animation: header 1s;
}

@keyframes header {

  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }

  }
  
.exercise-button{

  background-color: rgb(22, 133, 207);
  transition: 0.4s;

}

.trainer-button{
  background-color: rgb(201, 139, 23);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  
}

.exercise-button:hover{
  box-shadow: 0 0 10px rgb(92, 165, 214);
}

.trainer-button:hover{
  box-shadow: 0 0 10px rgb(231, 179, 89);
}

#comments {
  
  padding: 30px;
  background: rgba(250, 250, 250,0.15);
  width: 90%;
  align-items: center;
  align-self: center;
  border-radius: 10px;
}


#start{
  background: linear-gradient(to right,rgba(4,20,43, 0.5),rgba(13, 100, 49, 0.873),rgba(4,20,43, 0.364));
align-self: center;
width: 100%;
padding: 30px;
border-radius: 10px;
}